#btn {
  display: block;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #acd157;
  border: 2px solid #00471b;
  border-radius: 0.5rem;
}

.display {
  margin-top: 1rem;
  font-weight: bold;
  min-height: 3rem;
}